body{
    /*
    background-color:aqua; 
    */
    background-color:#62c7c9
}

body header h1 {
    /* display: inline; */ 
    /* この行をコメントアウトでタイトルがセンターに */
    
    font-size: 60px;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    margin:20px auto;
    font-family: 'Zen Maru Gothic', sans-serif;


}

a:hover {
    text-decoration: none;
}

.risuto{
    margin-top: 60px;
}

.rinku{
    font-size: 20px;
    margin: 8px;
}