/* Create your test CSS here */


body{
    background-color:aqua;
}

@media (min-width: 30em){
    body{
        background-color:aquamarine;
    }
}

.special{
    color: red;
}



p.dekee{
    font-size: 1.5em;
    color: green;
    border: dashed black;
    padding: 50px;
    transform: rotate(0.5turn);
}

.outer{
    border: 5px solid black;
}

.box{
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
}

/* This is a comment. */
p.test{
    padding: 10px 15px 15px 5px;
    background: red 10px 10px repeat-x fixed;

}